/* Rotating Border Button Animation Styles */

.shimmer-button {
  --offset: 2px;
  position: relative;
  padding: 8px 20px;
  background: #252525;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Rotating conic gradient border */
.shimmer-button::before { 
  content: '';
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

/* Inner overlay to create border effect */
.shimmer-button::after {
  content: '';
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.shimmer-button-text {
  position: relative;
  z-index: 3;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: color 0.3s ease;
}

.shimmer-button:hover::before {
  background: conic-gradient(transparent 270deg, black, transparent);
  transition: background 0.3s ease;
}

.shimmer-button:hover {
  background: white;
}

.shimmer-button:hover .shimmer-button-text {
  color: black;
}

/* Rotating border animation */
@keyframes rotate {
  from {
      transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
   to {
      transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
